.content-info { }


.footer {
  margin: 30px 0 0 0;
  padding-top: 20px;
  background: #f8f2e9;
  font-family: $font-family-sans-serif;
}


/* Powered By */

.powered-by-night-out {
  display: block;
  background: #000;
  padding: 25px;
  margin-top: 30px;
  text-align: center;
}

a.nightout-events-logo {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url('../img/logo-nightout.png') 0 0 no-repeat;
  width: 200px;
  height: 18px;
  background-size: 200px 18px;
  margin: 0 auto;
}

.footer .navbar-brand {
  display: block;
  position: absolute;
  width: 292px;
  height: 58px;
  left: -100px;
  top: 40px;
  background: transparent url('../img/logo-hash.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.footer .navbar-brand {
  position: relative;
  left: auto;
  top: auto;
  width: 302px;
  height: 50px;
  background: transparent url('../img/logo.png') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  a.nightout-events-logo {
    background: transparent url('../img/logo-nightout@2x.png') 0 0 no-repeat;
    background-size: 200px 18px;
  }

  .footer .navbar-brand {
    background: transparent url('../img/logo-hash@2x.png') 0 0 no-repeat;
    background-size: 292px;
    height: 58px;
  }

  .footer .navbar-brand {
    background: transparent url('../images/logo@2x.png') 0 0 no-repeat;
    background-size: 300px;
    height: 74px;
  }
}
